<ul>
  <% todo.each do |entry| %>
    <li>
    <p><strong><%= entry.id %></strong>
    <span class= 'entry'><%= entry.entry %></span>
    <% status = entry.completed ? "Completed" : "Unfinished" %>
    <span class= 'status'><%= status %></span>
    <span class="view">
    <%= link_to "view", controller: "todo", action: "show", id: entry.id %>
    </span>
    <span class= "delete">
    <%= button_to "delete #{entry.id}", { action: "destroy", id: entry.id }, method: "delete" %>
    </span>
    </p>
    </li>
    <% end %>
</ul>
