<ul>
  <% todo.each do |todo| %>
    <li>
    <p><span class="id"><%= todo.id %></span>
    <span class= 'entry'><%= todo.entry %></span>
    <% status = todo.completed ? "Completed" : "Unfinished" %>
    <span class= 'status'><%= status %></span>
    <span class="view">
    <%= link_to "View", controller: "todo", action: "show", id: todo.id %>
    </span>
    <span class="mark_todo">
    <%= link_to "Mark as Completed", { action: "update", id: todo.id }, method: "put"  %>
    </span>
    <span class= "delete">
    <%= button_to "Delete #{todo.id}", { action: "destroy", id: todo.id }, method: "delete" %>
    </span>
    </p>
    </li>
    <% end %>
</ul>
